<!DOCTYPE html>
<html th:fragment="layout(main)" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-success">
    <div class="container" my-5>
        <a th:href="@{/login}" class="navbar-brand">Library For Youth</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">

                <li  class="nav-item">
                    <a class="nav-link" th:href="@{/login}">AudioBooks</a>
                </li>


                <li class="nav-item">
                    <a th:href="@{/library/order-history}" class="nav-link">Orders</a>
                </li>


                <li class="nav-item">
                    <a th:href="@{/login}" class="nav-link">Browse</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}" class="nav-link">Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a href="javascript: document.logoutForm.submit()"
                       class="nav-link">Logout</a>
                </li>
                <form name="logoutForm" th:action="@{/logout}" method="post" class="d-none">
                    <input type="submit" value="Logout" hidden>
                </form>

            </ul>
        </div>
    </div>
</nav>
    <div th:replace="${main}"></div>
</body>
</html>