<!DOCTYPE html>
<html th:replace="~{layout/userViewLayout :: layout(~{::main})}" lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div class="container mt-5">
       <div class="row">
           <div class="col-md-4" th:each="book :${books}">
               <div class="card mb-3">
                   <img height="280" th:src="@{'/images/'+${book.imageUrl}+'.jpg'}" alt="images" class="card-img-top">
                   <div class="card-body">
                       <h5 th:text="${book.authorName}"></h5>
                       <span th:text="${book.bookName}"></span>
                       <div>
                           <a th:href="@{'/library/book-details?id='+${book.id}}" class="btn btn-secondary">Details</a>

                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
</main>
</body>
</html>