<!DOCTYPE html>
<html th:replace="~{layout/userViewLayout :: layout(~{::main})}" lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
 <main role="main">
     <div class="container mt-5">
         <div class="row">
             <div class="col-md-10"></div>
             <div class="col-md-2">
                 <a th:href="@{/library/view-cart}">
                     <span><i class="fa-solid fa-cart-shopping btn-secondary"></i> <span th:if="${!#lists.isEmpty(cartItem)}" class="mx-2" th:text="${cartItem.size()}"></span></span>

                 </a>
             </div>
         </div>
         <div class="row">
             <div class="col-md-8 mt-5">
                 <h4 th:text="${bookDetails.authorName}"></h4>
                 <span class="lead" th:text="${bookDetails.bookName}"></span>
                 <div>
                     <a th:href="@{'/library/add-to-cart?id='+${bookDetails.id}}" class="btn btn-secondary">Add To Cart</a>
                     <a th:href="@{/library/books}" class="btn btn-secondary">More</a>
                 </div>

             </div>
             <div class="col-md-4">
                 <div class="card px-5">
                     <img height="300" th:src="@{'/images/'+${bookDetails.imageUrl}+'.jpg'}" alt="">
                 </div>
             </div>
         </div>
         <div class="row">
             <span th:text="${bookDetails.description}"></span>
         </div>
     </div>
 </main>
</body>
</html>